@media screen and  (max-width:600px){
    body{
        width: auto !important;
    }


    .container{
      
        display: flex !important;
        flex-direction: column !important;
        width: 500px;
        height: 100px;
       
       
    }
    .block{
      
        display: flex;
        
        width: 50px;
    }

    .container2{
        flex-direction: column !important;
        height: 100%   !important ;
        width: 100px !important;
       
        
    }
    .container3{
        display:  none !important;
    }

    .container4{

flex-direction: column !important;
width: 10px !important;
height: 10px !important;
    }
    
    .block3{
        width: 10px;
        height: 10px;
    }
    
}